.section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}

.section__left{
    padding: 30px 70px;
    width: 32em;

  /* padding-right: 50px; */
}
.section__left__title{
margin: 0;
font-family: HK Grotesk Pro;
font-size: 43px;
line-height: 54px;
letter-spacing: -0.01em;
color: #161C2D;
}
.section__left__text{
  font-family: HK Grotesk Pro;
font-size: 19px;
line-height: 30px;
color: #869AB8;
}
.section__left__input{
  background: #F1F4F8;
border-radius: 6px;
Width: 315px;
Height: 50px;
border: none;
}
.section__left__input::placeholder{
  font-size: 17px;
line-height: 27px;
display: flex;
align-items: center;
color: #506690;
padding-left: 20px;
}
.section__left__title .sub__text{
  color: #335EEA;
}